registry=https://registry.npmjs.org/
@arcgis-ba:registry=https://olympus.esri.com/artifactory/api/npm/npm-repo/
@arcgis-survey123:registry=https://olympus.esri.com/artifactory/api/npm/npm-repo/

@geobim:registry=https://olympus.esri.com/artifactory/api/npm/npm-repo/

@esri-bj:registry=https://olympus.esri.com/artifactory/api/npm/npm-arcgis-local/
